/* @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Iosevka+Charon+Mono:wght@400;500;600;700&display=swap');

:root {

  /* font-family: JetBrains; */
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
* {
}
body {
  margin: 0;
    /* font-family: 'JetBrains Mono', monospace; */
    font-family: 'Iosevka', monospace;
}


h1 {
  font-size: 56px;
  color: white;
  margin: 0;
  letter-spacing: -1.68px;
}
h2 {

  color: white;
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

#center {

  background-color: #1C1C1C;
}
#description {
  
}
#main {
  padding-top: 2rem;
  box-sizing: border-box;
  color: white;
  gap: 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card {
  /* background-color: #5d5aa5; */
	text-align: center;
  border-radius: 10px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}

#card h1 {
	font-size: 40px;
}

#desc {
  display: flex;
  flex-direction: column;
	gap: 20px;
  align-items: center;
}

.links {
  color: #FED29E;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#pfp {
	width: 250px;
	height: 350px;
	object-fit: cover;
	border-radius: 4px;
}

#inquiries {
	color: #606060
}
